*{
    padding: 0;
    margin: 0;

}

body{
    background-color: lightgray;
}

.header{
    background-color: blue;
    width: 100%;
    height: 1.5cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: blue;
    background-color: white;
    border-top: 10px solid blue;
    width: 5cm;
    height: 1cm;
    text-align: center;
    font-family: cursive;
}


.img{
    border-color: blue;
    text-align: left;
    padding-top: 250px;
    padding-bottom: 300px;
    background-image:url(itachi/itachi.jpg);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    text-align: justify;

      
    
}


h4{
    border: 3px blue solid;
    width: 7cm;
    padding-top: 40px;
    padding-bottom: 40px;
    bottom: 3cm;
    font-size: large;
    font-family: cursive;
    color: blue;
    background-color: lightgray;
}





h3{
    font-size: 1cm;
    color: blue;
    padding-right: 400px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.age6{
    padding-left: 20px;
}

.age14{
    padding-left: 20px;
}

li{
    line-height: 30px;
}
